
@{
    ViewBag.Title = "Error";
    Layout = "~/Areas/Admin/Views/Shared/_AdminNavSidenav.cshtml";
}

<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <h1 class="display-1">FOR ADMIN USER</h1>
                            <h2>&#x26D4;</h2>
                            <p class="lead">Unauthorized</p>
                            <p>Access to this resource is denied.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

